/* GLoabl styles  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --black-color: #212529;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.grid-layout {
  display:  flex;
  gap: 1rem;
  flex: 1;
  overflow-x: auto;
  margin-top: 1rem;
  padding: 1rem;
}
.grid-layout  .box {
  background: rgb(231, 249, 255);
  min-width: 30rem;
  max-width: 30rem;
  height: 90vh;
  overflow-y: auto;
  position: relative;
  padding: .6rem;
}
.grid-layout .add-note {
  background: var(--black-color);
  color: var(--white-color);
  font-size: 2rem;
  height: fit-content;
  padding: 1rem;
  cursor:  pointer ;
}
.box form , .box input {
  width: 100%;
  border: 0;
  font-weight: 700;
  position: sticky;
  bottom: 0;
  left: 0;
  font-size: 1.4rem;
  padding: 1rem;
  background: var(--black-color);
  color: var(--white-color);
  position: sticky;
}
.tasks {
  background: rgb(209, 227, 253);
  color: var(--black-color);
  font-weight: 600;
  padding: 1rem;
  margin-bottom: 1rem;
}
.title {
  font-size: 1.4rem;
}
.box h2 {
  margin: 1rem 0;
  font-size: 2rem;
}